body {
    background-color: black;
    color: snow;
}

canvas {
    background-color: black;
    border: 1px solid #f3f3f3;;
}

#options {
    background-color: #202020;
    border-bottom: 3px solid darkgray;
}

h2 {
    font-size: 20px;
    margin-bottom: -7px;
    padding: 4px;
    border-top: 3px solid darkgrey;
    border-bottom: 3px solid darkgray;
}

ul {
    padding-bottom: 5px;
}

li {
    padding: 3px;
}

/* 背景色のテンプレート */
.blackButton {
    background-color: black;
    color: snow;
}
.whiteButton {
    background-color: white;
    color: black;
}
.yellowButton {
    background-color: #ffff00;
    color: black;
}
.redButton {
    background-color: #ff0000;
    color: white;
}
.orangeButton {
    background-color: #ee7800;
    color: white;
}
.darkblueButton {
    background-color: #00008b;
    color: white;
}
.darkgreenButton {
    background-color: #006400;
    color: white;
}
.darkbrownButton {
    background-color: #3e2e28;
    color: white;
}